@{
  var db = Database.Open("stackRankR");
  db.Execute("DELETE FROM Person");
  db.Execute("DELETE FROM Ranking");
  db.Execute("DELETE FROM TeamAccess");
  db.Execute("DELETE FROM Team");
}
<p>Wiped db clean</p>