@{
  Layout = "~/_SiteLayout.cshtml";
  Page.Title = "Home Page";
  Page.PageId = "Home";
}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Fit the curve</h1>
  <p>stackRankR built on ASP.NET Web Pages using WebMatrix 2</p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>Sign up</h2>
    <p>To get started, you need to create an account!</p>
    <p><a href="~/Account/Register" class="btn">Register</a></p>
  </div>
  <div class="span4">
    <h2>Create a team</h2>
    <p>You gotta create it first.</p>
    <p><a class="btn btn-info" href="~/TeamList">View Teams</a></p>
  </div>
  <div class="span4">
    <h2>Rank'em</h2>
    <p>It's what the tool is for.</p>
  </div>
</div>